<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    {% load static %}
    <link rel ="icon" href='{% static "../static/images/favicon.ico" %}' type="image/x-icon">

    <link rel="stylesheet" href='{% static "../static/css/styles.css" %}' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='{% static "../static/scripts/main.js" %}'></script>

    <title>пикми цитатник</title>
</head>
<body>
    {% csrf_token %}
    
    <header class="header">
        <a class="logo" href="{% url 'how_to' %}">Как все работает</a>
        <div class="navigation">
            <a href="{% url 'list' %}" class="nav-button">Все цитаты</a>
            <a href="{% url 'add' %}" class="nav-button">Добавить свою цитату</a>
        </div>
    </header>


    <main class="page-wrapper"> 
        <div class="left-bg"></div>
        <div class="main-content">
            <div class="title-of-page">
                <a>Цитата</a>
            </div>
            <div class="row">
                <div class="col-lg-4 single-block aos-init aos-animate" data-aos="fade-up">
                    <div class="quote-block">
                        <div class="quote-text">
                            <span>{{quote.text}}</span>
                            <div class="quote-source">
                                <p>{{quote.source}}</p>
                            </div>
                        </div>
                        
                        <button class="like-btn" data-quote-id="{{ quote.id }}">
                            <span class="like-count">{{ quote.like_set.count }}</span>
                            <i id=icon class="heart-icon {% if user_has_liked %}ri-heart-3-fill{% else %}ri-heart-3-line{% endif %}"></i>
                        </button>
                        {% if show_details_link and quote %}
                            <a class="details-quote-button">
                                <a href="{% url 'quote_details' quote.id %}" >узнать больше...</a> 
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="right-bg"></div>
    </main>

   <footer class="footer">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
            <section class="question-phrase">
                <div class="tooltip-trigger">
                <h4>задать вопрос</h4>
                    <div class="tooltip">
                        <div class="tooltip-content">
                            <a href="https://github.com/ixslea" target="_blank" class="tooltip-icon ri-github-fill"></a>
                            <a href="https://t.me/ixslea" target="_blank" class="tooltip-icon ri-telegram-fill"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>


</body>
</html>