<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    {% load static %}
    <link rel ="icon" href='{% static "../static/images/favicon.ico" %}' type="image/x-icon">

    <link rel="stylesheet" href='{% static "../static/css/styles.css" %}' />


    <title>Все цитаты</title>

</head>
<body>
    <header class="header">
        <a class="logo" href="{% url 'how_to' %}">Как все работает</a>
        <div class="navigation">
            <a href="{% url 'quote' %}" class="nav-button">Главная</a>
            <a href="{% url 'add' %}" class="nav-button">Добавить свою цитату</a>
        </div>
    </header>

    <main class="page-wrapper">
        <div class="left-bg"></div>
        <div class="quotes-list">

            <div class="filter-tab">
        <button class="filter-tab-button" onclick="toggleFilterPanel()">Фильтры</button>
    </div>
    
    <div class="filter-panel" id="filterPanel">
        <button class="close-filter" onclick="toggleFilterPanel()">×</button>
        <h3>Фильтры</h3>
        
        <form method="get" id="filterForm">
            <div class="filter-group">
                <div class="filter-title">Источник</div>
                <select name="source" class="source-select">
                    <option value="">Все источники</option>
                    {% for source in sources %}
                        <option value="{{ source }}" {% if source == current_source %}selected{% endif %}>
                            {{ source }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="filter-group">
                <div class="filter-title">Сортировка</div>
                <div class="filter-option {% if not show_top %}active{% endif %}" onclick="selectOption(this, 'sort', '')">
                    По дате добавления
                </div>
                <div class="filter-option {% if show_top %}active{% endif %}" onclick="selectOption(this, 'top_likes', '1')">
                    Топ-10 по лайкам
                </div>
                <input type="hidden" name="top_likes" id="top_likes" value="{% if show_top %}1{% endif %}">
                <div class="filter-option {% if show_top_views %}active{% endif %}" onclick="selectOption(this, 'top_views', '1')">
                    Топ-10 по просмотрам
                </div>
                <input type="hidden" name="top_views" id="top_views" value="{% if show_top_views %}1{% endif %}">
            </div>
            
             <div class="filter-actions">
                <button type="submit" id="btnApply"  class="apply-filters" onclick="applyFilters()">Применить</button>
                <button type="button" class="reset-filters" onclick="resetFilters()">Сбросить</button>
            </div>
        </form>
    </div>

        {% if not show_top and not current_source and not show_top_views%}
                <div class="quotes-count">Всего цитат: {{ quotes_count }}</div>
            {% endif %}

            {% for quote in quotes %}
            <div class="quote-card">
                <blockquote class="quote-text">
                  <a href="{% url 'quote_details' quote.id %}" > {{quote.text}}</a> 
                </blockquote>
                <div class="quote-meta">
                    <span class="quote-source">{{ quote.source }}</span>
                    <span class="like-count heart-icon ri-heart-3-fill">{{ quote.likes }}</span>
                    <span class="quote-views ri-eye-line"> {{ quote.views }}</span>
                </div>
            </div>
            {% empty %}
            <p class="no-quotes">Пока нет сохранённых цитат.</p>
            {% endfor %}
        </div>
        <div class="right-bg"></div>
    </main>

   <footer class="footer">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
            <section class="question-phrase">
                <div class="tooltip-trigger">
                <h4>задать вопрос</h4>
                    <div class="tooltip">
                        <div class="tooltip-content">
                            <a href="https://github.com/ixslea" target="_blank" class="tooltip-icon ri-github-fill"></a>
                            <a href="https://t.me/ixslea" target="_blank" class="tooltip-icon ri-telegram-fill"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>

<script>
        function toggleFilterPanel() {
            const panel = document.getElementById('filterPanel');
            panel.classList.toggle('active');

            const sortOptions = document.querySelectorAll('.filter-group .filter-option');
            if (sortOptions[1].contains('active') || sortOptions[2].contains('active')) {
                document.getElementById('btnApply').classList.add('hidden');
            }
        }
        
        function selectOption(element, name, value) {
            const group = element.parentElement;
            const options = group.querySelectorAll('.filter-option');
            options.forEach(opt => opt.classList.remove('active'));
            
            element.classList.add('active');
            
            if (name === 'top_likes') {
                document.getElementById('top_likes').value = value;
                document.getElementById('top_views').value = '';
            } else if (name === 'top_views') {
                document.getElementById('top_views').value = value;
                document.getElementById('top_views').value = '';
            } else {
                document.getElementById('top_likes').value = '';
                document.getElementById('top_views').value = '';
            }
        }
        
        function applyFilters() {
            document.getElementById('btnApply').classList.add('hidden');
        }    

        function resetFilters() {
            document.querySelector('.source-select').value = '';
            
            const sortOptions = document.querySelectorAll('.filter-group .filter-option');
            sortOptions.forEach(opt => opt.classList.remove('active'));
            sortOptions[0].classList.add('active');
            document.getElementById('top_likes').value = '';
            document.getElementById('top_views').value = '';
            
            document.getElementById('btnApply').classList.remove('hidden');

        }
    </script>

</body>
</html>